*{
    /* background-color: black; */
    font-family: 'Poppins', sans-serif;
}

body .box{
    background-image: url("assets/carback.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* opacity: 0.7; */
    /* background: rgba(100,100,255,0.8); */
    
}

.box{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container{
    /* border: 1px solid red; */
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    /* background: rgba(255,255,255,0.1); */

}

span{
    /* border: 1px solid red; */
    color: #fff;
    font-size: medium;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    /* background: rgba(255,255,255,0.1); */
}

header{
    color: #fff;
    font-size: 2rem;
    display: flex;
    padding: 10px 0 10px 0;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input{
    border: 1px solid;
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 42px;
    margin-top: 5%;
    background: rgba(255,255,255,0.1);
}

i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    margin-top: 2%;
    cursor: pointer;
    background: rgba(255,255,255,0.7);
    transition: .3s;
}

.select{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 50%;
    margin-top: 2%;
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    color: #fff;
    transition: .3s;
}

option{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 50%;
    margin-top: 2%;
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    color: #000;
    transition: .3s;

}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(232, 231, 231, 0.2);
}

.bottom{
    /* border: 1px solid red; */
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin-top: 3%;
    color: #fff;
}

.left{
    display: flex;
}

label a{
    color: #fff;
    text-decoration: none;
}



/* Media Query */


@media (max-width: 1080px) {

    
   
    
}

@media (max-width: 998px){
    

}



@media (max-width: 798px){
   

}

@media (max-width: 520px){
   
    
}
